overall-mainnav{
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
}

mainnav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: rgb(79, 184, 219);
    color: white;
}

.mainnav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
}